/* ========== Layout ========== */
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.searchInput {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
}

/* ========== Collection Section ========== */
.collectionSection {
  margin-bottom: 2rem;
}

.collectionTitle {
  margin-top: 10px;
  font-size: 1.7rem;
  color: #891a2f;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* ========== Paintings Grid ========== */
.paintingsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* Increase column min width */
  gap: 2rem; /* Slightly more gap for breathing space */
}

/* ========== Painting Card ========== */
.paintingCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: 290px; /* Increased height */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #d4c89c;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.paintingImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 2px solid #ccc;
  border-radius: 6px;
}

/* ========== Text Styles ========== */
.paintingName {
  font-weight: bold;
  margin: 0;
}

.artistName {
  font-style: italic;
  color: #666;
  font-size: 1rem;
  margin: 0;
  min-height: 16px;
}


@media (max-width: 600px) {
    .container {
      padding: 1rem;
      width: 550px;
      margin-left: 30px;
    }
  
    .collectionTitle {
      font-size: 1.25rem;
    }
  
    .searchInput {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
    .paintingsGrid {
        gap: 3rem; /* Increased gap on mobile */
      }
  }
  