*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #ffffff;
}
.logo-container {
    position: relative;
    width: 130px;
    height: 180px;
    object-fit: cover;
}
.logo {
    position: absolute;
    top: -30px;
    width: 130px;
    height: 180px;
    object-fit: cover;
}
.links {
    padding-top: 30px;
    padding-right: 20px;
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 550;
}
.links a {
    color: black;
    font-size: 16px;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 30px 10px 10px;
    z-index: 100;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease;
}

.contactButton {
  color: #9C1D32;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.contactButton:hover {
  color: #6e1420;
}

/* ✅ Responsive Font Size */
@media screen and (max-width: 768px) {
  .contactButton {
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) {
  .contactButton {
    font-size: 16px;
  }
}


/* Mobile styles */

@media (max-width: 768px) {
    .navbar{
        width: 550px;
    }
    .hamburger {
        display: block;
    }
    
    .links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 30px;
        transition: right 0.3s ease;
        z-index: 99;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    }
    
    .links a {
    color: black;
    font-size: 26px;
}

    .links.active {
        right: 0;
        height: 100%;
    }


    /* Optional: Animate hamburger to X when menu is open */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}