.detailContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .mainImageSection {
    flex: 1 1 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mainImage {
    max-width: 100%;
    height: auto;
    border: 8px solid #d4c89c;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .infoSection {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .artist {
    font-size: 1.5rem;
    color: #a23c3c;
    margin: 0;
  }
  
  .description {
    font-size: 1.1rem;
    color: #333;
  }
  
  .artistBio {
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .moreFromArtist {
    margin: 2rem;
    height: 16vw;
  }
  
  .moreImagesGrid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .moreImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #eee;
  }
  
  @media (max-width: 900px) {
    .detailContainer {
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      width: 550px;
    }
    .mainImageSection, .infoSection {
      flex: 1 1 100%;
    }
    .title {
      font-size: 2rem;
    }
    .artist {
      font-size: 1.2rem;
    }
    .moreFromArtist {
      width: 550px;
      height: auto;
    }
    .moreImagesGrid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1.6rem;
      margin-right: 15px;
      margin-left: -10px;
    }
    .moreImage {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #eee;
  }
  
  }
  .paintingWrapper {
  position: relative;
  cursor: pointer;
}

.paintingButtons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.knowMoreBtn, .interestedBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.knowMoreBtn {
  background-color: #fff;
  color: #000;
  font-size: 0.7rem;
}

.interestedBtn {
  background-color: #9C1D32;
  color: #fff;
}

.moreImage {
  transition: opacity 0.3s ease;
}

.paintingWrapper:hover .moreImage {
  opacity: 0.8;
}